
<div id="sidebar-nav">
	<div class="open-sidebar"> <em class="material-icons">keyboard_arrow_right</em></div>
	<div class="sidebar">
		<ul class="side-nav">
			<li class="side-item active"><a href="index.html"> <img class="icon" src="./images/icons/side-2.svg" alt=""/><span>Chiến lược</span></a></li>
			<li class="side-item"><a href=""> <img class="icon" src="./images/icons/side-3.svg" alt=""/><span>Tập khách hàng</span></a></li>
			<li class="side-item"><a href=""> <img class="icon" src="./images/icons/side-4.svg" alt=""/><span>Giao diện & Giải thưởng</span></a></li>
			<li class="side-item"><a href="lich-su-chien-luoc.html"><img class="icon" src="./images/icons/side-5.svg" alt=""/><span>Lịch sử chiến lược</span></a></li>
		</ul>
	</div>
</div>