
<section class="history-section section-main"> 
	<h1 class="section-title d-flex align-items-center"> <img class="icon" src="./images/icons/side-6.svg" alt=""/>&nbsp; Giao diện vòng quay</h1>
	<div class="wrapper-container d-flex"> 
		<div class="wrap-left"> 
			<div class="wrap-left_header d-flex">
				<h2>Giao diện hình nền và vòng quay</h2>
			</div>
			<div class="wrap-left_body"> 
				<ul>
					<li class="active">
						<div class="title-item"> <a class="title" href="">Giao diện vòng quay</a></div>
					</li>
					<li>
						<div class="title-item"> <a class="title" href="">Giao diện hình nền</a></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-right"> 
			<div class="wrap-right_header d-flex align-items-center justify-content-between"> 
				<div class="wrap-right_header--title d-flex align-items-center"><img class="icon" src="./images/icons/list.svg" alt=""/>
					<h2>&nbsp; Danh sách giao diện vòng quay</h2>
				</div>
				<div class="wrap-right_header--sort d-flex align-items-center">
					<button class="btn btn-add ms-auto"> <img src="./images/icons/add.svg" alt=""/><span>&nbsp;Thêm mới</span></button>
				</div>
			</div>
			<div class="wrap-right_body"> 
				<table>
					<thead> 
						<th>
							<p>Tên Giao diện</p>
						</th>
						<th>
							<p>Mô tả</p>
						</th>
						<th> 
							<p>Ngày tạo</p>
						</th>
						<th> 
							<p>Ngày sửa lần cuối</p>
						</th>
						<th> 
							<p>Action</p>
						</th>
					</thead>
					<tr>
						<td>
							<p>Giao diện default</p>
						</td>
						<td>
							<p>ABC vòng quay may mắn</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giao diện default</p>
						</td>
						<td>
							<p>ABC vòng quay may mắn</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giao diện default</p>
						</td>
						<td>
							<p>ABC vòng quay may mắn</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giao diện default</p>
						</td>
						<td>
							<p>ABC vòng quay may mắn</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
				</table>
			</div>
			<nav class="pagination-nav">
				<ul class="pagination d-flex align-items-center"> 
					<li class="page-item ms-auto"><a class="page-link" href="#"><em class="material-icons">navigate_before</em></a></li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#"><em class="material-icons">navigate_next</em></a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>