
<section class="step-section"> 
	<div class="wrapper-container">
		<ul class="progress-wrap">
			<li class="step active"><a class="step_child" href="tao-chien-luoc.html">
					<div class="icon created"><img src="./images/icons/c-1.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-1.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-1.svg" alt=""/></div>
					<div class="content">
						<p><b>Bước 1</b></p>
						<p>Tạo chiến lược </p>
					</div></a></li>
			<li class="step active"><a class="step_child" href="chon-nhom-khach-hang.html">
					<div class="icon created"><img src="./images/icons/c-2.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-2.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-2.svg" alt=""/></div>
					<div class="content">
						<p><b>Bước 2</b></p>
						<p>Chọn nhóm Khách hàng</p>
					</div></a></li>
			<li class="step active"> <a class="step_child" href="thiet-lap-nhom-giai-thuong.html">
					<div class="icon created"><img src="./images/icons/c-3.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-3.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-3.svg" alt=""/></div>
					<div class="content">
						<p><b>Bước 3</b></p>
						<p>Chọn nhóm Giải thưởng</p>
					</div></a></li>
			<li class="step active"> <a class="step_child" href="chon-giao-dien.html">
					<div class="icon created"><img src="./images/icons/c-4.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-4.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-4.svg" alt=""/></div>
					<div class="content">
						<p><b>Bước 4</b></p>
						<p>Chọn giao diện vòng quay</p>
					</div></a></li>
		</ul>
	</div>
</section>
<section class="choice-layout"> 
	<div class="wrapper-container d-flex">
		<div class="wrap-left wrap-tabs">
			<ul class="tab-list d-flex align-items-center">
				<li> <a class="b-nav-tab active" href="javascript:;" data-tab="tab-1">Giao diện vòng quay</a></li>
				<li> <a class="b-nav-tab" href="javascript:;" data-tab="tab-2">Giao diện hình nền </a></li>
			</ul>
			<div class="tab-content">
				<div class="b-tab active" id="tab-1">
					<div class="tab-container">
						<div class="swiper mySwiper layout-circle">
							<div class="swiper-header d-flex align-items-center">
								<h1>Chọn hình ảnh vòng quay</h1>
								<button class="btn btn-default" type="submit" data-fancybox="" data-src=""> <img src="./images/icons/cloud-upload-2.svg" alt=""/><span>Tải lên</span></button>
								<div class="swiper__arrows">
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
							<div class="swiper-wrapper">
								<div class="swiper-slide"> 
									<div class="slide-inner"> <a href=""> <img src="./images/gd-1.png" alt=""/></a></div>
								</div>
								<div class="swiper-slide">
									<div class="slide-inner"> <a href=""> <img src="./images/gd-2.png" alt=""/></a></div>
								</div>
								<div class="swiper-slide"> 
									<div class="slide-inner"> <a href=""> <img src="./images/gd-1.png" alt=""/></a></div>
								</div>
								<div class="swiper-slide">
									<div class="slide-inner"> <a href=""> <img src="./images/gd-2.png" alt=""/></a></div>
								</div>
								<div class="swiper-slide"> 
									<div class="slide-inner"> <a href=""> <img src="./images/gd-1.png" alt=""/></a></div>
								</div>
							</div>
						</div>
						<form class="wrap-form" action="" method="method">
							<div class="form-row row">
								<p class="title">Kích thước vòng quay</p>
								<div class="form-group col-lg-3">
									<label for="">Độ rộng</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">độ cao</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
							</div>
							<div class="form-row row">
								<p class="title">Thông số vòng quay</p>
								<div class="form-group col-lg-3">
									<label for="">Canh lề trên</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Canh lề dưới</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Canh lề phải</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Canh lề trái</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Bán kính vòng quay</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Bán kính tâm vòng quay </label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
							</div>
							<div class="form-row row">
								<p class="title">Thông số kim quay </p>
								<div class="form-group col-lg-12">
									<label class="custom-file-label" for=""> <span>Url</span><img src="./images/icons/cloud-upload.svg" alt=""/></label>
									<input class="custom-file-input" id="customFile" type="file" name=""/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Sử dụng ảnh kim vòng quay</label>
									<div class="custom-select">
										<select class="form-control" name="">
											<option value="0" disable="disable" selected="selected" hidden="hidden">True</option>
											<option value="1">True</option>
											<option value="2">False</option>
										</select>
									</div>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Độ lệch kim</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Tọa độ y kim vòng quay</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Tọa độ x kim vòng quay</label>
									<input class="form-control" type="text" placeholder="0"/>
								</div>
							</div>
							<div class="form-row row">
								<p class="title">Thông số kiểu chữ vòng quay</p>
								<div class="form-group col-lg-3">
									<label for="">Font family</label>
									<input class="form-control" type="type" placeholder="Arial"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Kích thước font</label>
									<input class="form-control" type="type" placeholder="36"/>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Canh lề chữ </label>
									<div class="custom-select">
										<select class="form-control" name="">
											<option value="0" disable="disable" selected="selected" hidden="hidden">Center</option>
											<option value="1">Left</option>
											<option value="2">Right </option>
										</select>
									</div>
								</div>
								<div class="form-group col-lg-3">
									<label for="">Hướng chữ</label>
									<div class="custom-select">
										<select class="form-control" name="">
											<option value="0" disable="disable" selected="selected" hidden="hidden">Horizontal</option>
											<option value="1">Horizontal</option>
											<option value="2">vertical </option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-row row">
								<p class="title">Âm thanh</p>
								<div class="form-group col-lg-6">
									<label for="">Âm thanh khi bắt đầu quay</label>
									<input class="form-control" type="type" placeholder="mp3"/><img class="icon" src="./images/icons/bxs-volume-full.svg" alt=""/>
								</div>
								<div class="form-group col-lg-6">
									<label for="">Âm thanh khi kết thúc</label>
									<input class="form-control" type="type" placeholder="mp3"/><img class="icon" src="./images/icons/bxs-volume-full.svg" alt=""/>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="b-tab" id="tab-2">
					<div class="tab-container">
						<div class="swiper mySwiper layout-bg">
							<div class="swiper-header d-flex align-items-center">
								<h1>Chọn hình ảnh vòng quay</h1>
								<button class="btn btn-default" type="submit"> <img src="./images/icons/cloud-upload-2.svg" alt=""/><span>Tải lên</span></button>
								<div class="swiper__arrows">
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
							</div>
							<div class="swiper-wrapper">
								<div class="swiper-slide"> 
									<div class="slide-inner"> <a href=""> <img src="./images/bg-review-1.jpg" alt=""/></a></div>
								</div>
								<div class="swiper-slide">
									<div class="slide-inner"> <a href=""> <img src="./images/bg-review-2.jpg" alt=""/></a></div>
								</div>
								<div class="swiper-slide"> 
									<div class="slide-inner"> <a href=""> <img src="./images/bg-review-3.jpg" alt=""/></a></div>
								</div>
								<div class="swiper-slide">
									<div class="slide-inner"> <a href=""> <img src="./images/bg-review-4.jpg" alt=""/></a></div>
								</div>
								<div class="swiper-slide"> 
									<div class="slide-inner"> <a href=""> <img src="./images/bg-review-5.jpg" alt=""/></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrap-right">
			<div class="wrap-right_img"> 
				<figure> <img src="./images/gd-1.png" alt=""/></figure>
				<figcaption> 
					<ul> 
						<li> 
							<h2>Tên giao diện</h2>
							<p>Giao diện default</p>
						</li>
						<li> 
							<h2>Mô tả</h2>
							<p>Tặng lượt quay</p>
						</li>
					</ul>
				</figcaption>
			</div>
			<div class="wrap-right_button"> 
				<button class="btn btn-backstep" type="submit"> <img src="./images/icons/back.svg" alt=""/><span>Quay lại</span></button>
				<button class="btn btn-submit" type="submit"> <span>Hoàn thành</span><em class="material-icons">check</em></button>
			</div>
		</div>
	</div>
</section>