
<section class="login-section">
	<div class="wrapper-container d-flex align-items-center justify-content-center">
		<div class="wrap-login d-flex align-items-center justify-content-center"> 
			<div class="wrap-left">
				<figure> <img src="./images/login-bg.png" alt=""/>
					<figcaption> 
						<p class="desc">Amet minim mollit non deserunt ullamco <br/>est sit aliqua dolor do amet sint.</p>
					</figcaption>
				</figure>
			</div>
			<div class="wrap-right"> 
				<form class="wrap-form" action="">
					<div class="caption"> 
						<h1>Chào mừng đến &nbsp;<span>Admin panel</span></h1>
						<p>Nhập thông tin đăng nhập</p>
					</div>
					<div class="form-group"> 
						<input class="form-control" type="text" placeholder="User name"/>
					</div>
					<div class="form-group"> 
						<input class="form-control" id="core" type="password" placeholder="Password"/><img class="show-pass" src="./images/icons/eye.svg" alt=""/>
					</div>
					<div class="form-group"> 
						<input id="remember" type="checkbox"/>
						<label class="label-remember" for="remember">Nhớ trạng thái đăng nhập</label>
					</div>
					<button class="btn btn-submit"> <span>Đăng nhập</span></button>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-section">
		<div class="footer-content">
			<div class="flower"> <img src="./images/flower.png" alt=""/></div>
		</div>
	</div>
</section>