
<div class="popup-add" id="popup-addcustomergroup"> 
	<div class="popup-main">
		<div class="popup-header"> 
			<h1>Thêm mới Nhóm Khách hàng</h1>
		</div>
		<div class="popup-body">
			<form class="wrap-form" action="">
				<div class="form-group"> 
					<label for="">Nhóm Khách hàng</label>
					<input class="form-control" type="text" placeholder="Nhóm KH1"/>
				</div>
				<div class="form-group"> 
					<button class="btn btn-submit ms-auto"> <span>Thêm mới</span></button>
				</div>
			</form>
		</div>
	</div>
</div>