
<div class="popup-add" id="popup-addgiftgroup"> 
	<div class="popup-main">
		<div class="popup-header"> 
			<h1>Thêm mới Nhóm Giải thưởng</h1>
		</div>
		<div class="popup-body">
			<form class="wrap-form row" action="">
				<div class="form-group col-lg-12"> 
					<label for="">Nhóm Giải thưởng                </label>
					<div class="custom-select">
						<select class="form-control" name="">
							<option value="0" disable="disable" hidden="hidden" selected="selected">Giải 2 ngày 11/10</option>
							<option value="1">Giải 2 ngày 11/10</option>
							<option value="2">Giải 2 ngày 11/10</option>
						</select>
					</div>
				</div>
				<div class="form-group col-lg-12"> 
					<button class="btn btn-submit ms-auto"> <span>Thêm mới</span></button>
				</div>
			</form>
		</div>
	</div>
</div>