
<div class="popup-add" id="popup-editcustomer"> 
	<div class="popup-main">
		<div class="popup-header"> 
			<h1>Sửa danh sách Khách hàng</h1>
		</div>
		<div class="popup-body">
			<form class="wrap-form row" action="">
				<div class="form-group col-lg-6"> 
					<label for="">Tên Khách hàng</label>
					<input class="form-control" type="text" placeholder="Nhập họ và tên" value="Nguyễn Ngọc Yến Nhi"/>
				</div>
				<div class="form-group col-lg-6"> 
					<label for="">Mã khách hàng</label>
					<input class="form-control" type="text" placeholder="Nhập mã khách hàng" value="123456"/>
				</div>
				<div class="form-group col-lg-6"> 
					<label for="">Số lượt quay</label>
					<input class="form-control" type="text" placeholder="Số lượt quay" value="2"/>
				</div>
				<div class="form-group col-lg-6"> 
					<label for="">Vô hiệu hóa</label>
					<div class="custom-select">
						<select class="form-control" name="">
							<option value="0" disable="disable" hidden="hidden">True</option>
							<option value="1">True</option>
							<option value="2" selected="selected">False</option>
						</select>
					</div>
				</div>
				<div class="form-group col-lg-12"> 
					<button class="btn btn-submit ms-auto"> <span>Cập nhật</span></button>
				</div>
			</form>
		</div>
	</div>
</div>