
<div id="dialog-content" style="display:none;">
	<h1>Cấu hình chung</h1>
	<form class="wrap-form" action=""> 
		<div class="form-group"> 
			<input id="turns" type="radio" name="checkbox"/>
			<label for="turns">Số lượt quay</label>
			<input class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<input id="disable" type="radio" name="checkbox"/>
			<label for="disable">Vô hiệu hóa tất cả</label>
		</div>
		<div class="form-group">
			<button class="btn btn-close" type="submit" data-fancybox-close="data-fancybox-close"> <span>Đóng</span></button>
			<button class="btn btn-update" type="submit"> <span>Cập nhật</span></button>
		</div>
	</form>
</div>