
<section class="step-section"> 
	<div class="wrapper-container">
		<ul class="progress-wrap">
			<li class="step active"><a class="step_child" href="tao-chien-luoc.html">
					<div class="icon created"><img src="./images/icons/c-1.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-1.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-1.svg" alt=""/></div>
					<div class="content">
						<p>Tạo chiến lược </p>
					</div></a></li>
			<li class="step"> <a class="step_child" href="chon-nhom-khach-hang.html">
					<div class="icon created"><img src="./images/icons/c-2.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-2.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-2.svg" alt=""/></div>
					<div class="content">
						<p>Chọn nhóm Khách hàng</p>
					</div></a></li>
			<li class="step"> <a class="step_child" href="thiet-lap-nhom-giai-thuong.html">
					<div class="icon created"><img src="./images/icons/c-3.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-3.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-3.svg" alt=""/></div>
					<div class="content">
						<p>Chọn nhóm Giải thưởng</p>
					</div></a></li>
			<li class="step"> <a class="step_child" href="chon-giao-dien.html">
					<div class="icon created"><img src="./images/icons/c-4.svg" alt=""/></div>
					<div class="icon disable"><img src="./images/icons/d-4.svg" alt=""/></div>
					<div class="icon finished"><img src="./images/icons/f-4.svg" alt=""/></div>
					<div class="content">
						<p>Chọn giao diện vòng quay</p>
					</div></a></li>
		</ul>
	</div>
</section>