
<section class="history-section"> 
	<h1 class="setion-title d-flex align-items-center"> <img class="icon" src="./images/icons/side-5.svg" alt=""/>&nbsp; Lịch sử chiến lược</h1>
	<div class="wrapper-container d-flex"> 
		<div class="wrap-left"> 
			<div class="wrap-left_header d-flex">
				<h2>Tên chiến lược</h2>
			</div>
			<div class="wrap-left_body"> 
				<ul>
					<li>
						<div class="title-item"> <a class="title" href="">Chiến lược Test</a></div>
					</li>
					<li>
						<div class="title-item"> <a class="title" href="">Chiến lược Test</a></div>
					</li>
					<li>
						<div class="title-item"> <a class="title" href="">Chiến lược Test</a></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-right"> 
			<div class="wrap-right_header d-flex align-items-center justify-content-between"> 
				<div class="wrap-right_header--title d-flex align-items-center"><img class="icon" src="./images/icons/list.svg" alt=""/>
					<h2>&nbsp; Danh sách trúng giải</h2>
				</div>
				<div class="wrap-right_header--sort wrap-tabs d-flex align-items-center">
					<div class="tab-content"> 
						<div class="b-tab active" id="year">
							<select>
								<option value="hide">Năm</option>
								<option value="2022">2022</option>
								<option value="2021">2021</option>
							</select>
						</div>
						<div class="b-tab" id="mounth">
							<select>
								<option value="hide">Tháng</option>
								<option value="january">Tháng 1</option>
								<option value="february">Tháng 2 </option>
							</select>
						</div>
					</div>
					<ul class="tab-list d-flex align-items-center">
						<li> <a class="b-nav-tab" href="javascript:;" data-tab="mounth">Tháng</a></li>
						<li> <a class="b-nav-tab active" href="javascript:;" data-tab="year">Năm</a></li>
					</ul>
				</div>
			</div>
			<div class="wrap-right_body"> 
				<table>
					<thead> 
						<th>
							<p>Tên Khách hàng</p>
						</th>
						<th>
							<p>Tên giải thưởng</p>
						</th>
						<th> 
							<p>Ngày tạo</p>
						</th>
						<th> 
							<p>Ngày sửa lần cuối</p>
						</th>
					</thead>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>Nguyễn Hoàng</p>
						</td>
						<td>
							<p><img class="icon" src="./images/icons/gift-2.svg" alt=""/>Giải 1</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>