
<section class="history-section section-main"> 
	<h1 class="section-title d-flex align-items-center"> <img class="icon" src="./images/icons/side-4.svg" alt=""/>&nbsp; Giao diện và giải thưởng</h1>
	<div class="wrapper-container d-flex"> 
		<div class="wrap-left"> 
			<div class="wrap-left_header d-flex">
				<h2>Danh sách giải thưởng</h2>
				<button class="btn btn-add ms-auto"> <img src="./images/icons/add.svg" alt=""/><span>&nbsp;Tạo mới</span></button>
			</div>
			<div class="wrap-left_body"> 
				<ul>
					<li class="active">
						<div class="title-item"> <a class="title" href="">Giải ngày 10/10</a></div>
					</li>
					<li>
						<div class="title-item"> <a class="title" href="">Giải ngày 10/10</a></div>
					</li>
					<li>
						<div class="title-item"> <a class="title" href="">Giải ngày 10/10</a></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="wrap-right"> 
			<div class="wrap-right_header d-flex align-items-center justify-content-between"> 
				<div class="wrap-right_header--title d-flex align-items-center"><img class="icon" src="./images/icons/list.svg" alt=""/>
					<h2>&nbsp; Danh sách giải thưởng</h2>
				</div>
				<div class="wrap-right_header--sort d-flex align-items-center">
					<button class="btn btn-add ms-auto"> <img src="./images/icons/add.svg" alt=""/><span>&nbsp;Thêm mới</span></button>
					<button class="btn btn-upload ms-3" type="submit"> <img src="./images/icons/cloud-upload.svg" alt=""/><span>Tải lên</span></button>
				</div>
			</div>
			<div class="wrap-right_body"> 
				<table>
					<thead> 
						<th>
							<p>Tên Giải thưởng</p>
						</th>
						<th>
							<p>Hình ảnh</p>
						</th>
						<th> 
							<p>Màu sắc</p>
						</th>
						<th> 
							<p>Ngày tạo</p>
						</th>
						<th> 
							<p>Ngày sửa lần cuối</p>
						</th>
						<th> 
							<p>Người tạo</p>
						</th>
						<th> 
							<p>Action</p>
						</th>
					</thead>
					<tr>
						<td>
							<p>Giải 1</p>
						</td>
						<td><img class="icon" src="./images/bg-review.jpg" alt=""/></td>
						<td><span class="color-box color-box-blue"></span><span>&nbsp;#80C2FF</span></td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> 
							<p>Nguyễn Hoàng Triều</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giải 1</p>
						</td>
						<td><img class="icon" src="./images/bg-review.jpg" alt=""/></td>
						<td><span class="color-box color-box-blue"></span><span>&nbsp;#80C2FF</span></td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> 
							<p>Nguyễn Hoàng Triều</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giải 1</p>
						</td>
						<td><img class="icon" src="./images/bg-review.jpg" alt=""/></td>
						<td><span class="color-box color-box-blue"></span><span>&nbsp;#80C2FF</span></td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> 
							<p>Nguyễn Hoàng Triều</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giải 1</p>
						</td>
						<td><img class="icon" src="./images/bg-review.jpg" alt=""/></td>
						<td><span class="color-box color-box-blue"></span><span>&nbsp;#80C2FF</span></td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> 
							<p>Nguyễn Hoàng Triều</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giải 1</p>
						</td>
						<td><img class="icon" src="./images/bg-review.jpg" alt=""/></td>
						<td><span class="color-box color-box-blue"></span><span>&nbsp;#80C2FF</span></td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> 
							<p>Nguyễn Hoàng Triều</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
					<tr>
						<td>
							<p>Giải 1</p>
						</td>
						<td><img class="icon" src="./images/bg-review.jpg" alt=""/></td>
						<td><span class="color-box color-box-blue"></span><span>&nbsp;#80C2FF</span></td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td>
							<p>2022-03-29T03:10:52.9335229</p>
						</td>
						<td> 
							<p>Nguyễn Hoàng Triều</p>
						</td>
						<td> <a href=""> <img src="./images/icons/edit.svg" alt=""/></a><a href=""> <img src="./images/icons/delete2.svg" alt=""/></a></td>
					</tr>
				</table>
			</div>
			<nav class="pagination-nav">
				<ul class="pagination d-flex align-items-center"> 
					<li class="page-item ms-auto"><a class="page-link" href="#"><em class="material-icons">navigate_before</em></a></li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#"><em class="material-icons">navigate_next</em></a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>