
<header> 
	<div class="wrap-header d-flex align-items-center">
		<div class="wrap-header-left d-flex align-items-center"><a class="wrap-header-left_icon d-flex align-items-center justify-content-center" href="/"> <img src="./images/icons/window.svg" alt=""/></a>
			<h1> <a class="wrap-header-left_logo" href="/"><img src="./images/logo.svg" alt=""/></a></h1>
		</div>
		<div class="wrap-header-center"> 
			<div class="caption"> 
				<p>Quản lý vòng quay may mắn</p>
			</div>
		</div>
		<div class="wrap-header-right d-flex align-items-center ms-auto">
			<div class="wrap-list-user"> 
				<ul class="d-flex align-items-center"> 
					<li class="nav-item"><a class="username d-flex align-items-center" href="thong-tin-khach-hang.html"> 
							<p>Khoa </p><img src="./images/avatar.png" alt=""/></a></li>
					<li class="nav-item"> <a class="logout" href=""> <img src="./images/icons/logout.svg" alt=""/></a></li>
				</ul>
			</div>
		</div>
	</div>
</header>